<nav class="main-nav pt-1 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="float-left">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="list-inline-item"><a [routerLink]="['/']">Funds Facts Sheet</a></li>
                    </ul>
                </div>
                <div class="float-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#">Newsletter</a></li>
                        <li class="list-inline-item" *ngIf="isAuthorized()"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                        <li class="list-inline-item" *ngIf="!isAuthorized()"><a [routerLink]="['/login']">Login</a></li>
                        <li class="list-inline-item" *ngIf="isAuthorized()"><a href="#" (click)="logout($event)">Logout</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</nav>